body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #000;
}
* {
  box-sizing: border-box;
}

/* HEADER BAŞLADI */

.hero_container {
  position: relative;
  background-image: url(../images/grid_back.png);
  background-repeat: repeat;
  background-color: #121212;
  background-size: contain;
  background-position: center;
  z-index: 1;
  padding-bottom: 150px;
}

.header {
  display: flex;
  position: relative;
  z-index: 100;
  max-width: 1440px;
  margin: 0 auto;
}
.header_cont {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 0 auto;
}
.nav_container {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  display: flex;
  width: 982px;
  align-items: center;

  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 80px;
  background-color: #121212;
}
.nav_list {
  display: flex;
  gap: 40px;
  margin-top: 21px;
  margin-bottom: 21px;
  list-style: none;
}
.nav-item {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
.nav-item a {
  text-decoration: none;
  color: #fff;
}
.logo-link {
  margin-right: 209px;
  padding-left: 50px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}
.sign_button {
  margin-top: 20px;
  border-radius: 12px;
  padding: 16px 84px;
  width: 239px;
  height: 60px;
  background: #fff;
}
.sign_button:hover {
  background-color: #121212;
  color: #bea69e;
  border: 1px solid #1d1d1d;
}

.sign_a {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.55556;
  text-transform: uppercase;
  color: #121212;
  background: #fff;
  text-decoration: none;
}
.sign_button:hover .sign_a {
  background-color: #121212;
  color: #bea69e;
}

/* HEADER BİTTİ */

/* HERO-SECTİON BAŞLADI */

.hero_section {
  background-color: #1d1d1d;
  z-index: 100;
  width: 1240px;
  height: 600px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 20px;
  z-index: 100;
  margin: 0 auto;
}

.discover_cont {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  margin-right: 130px;
}

.discover_title {
  font-weight: 500;
  font-size: 64px;
  line-height: 1.0625;
  letter-spacing: -0.04em;
  color: #fff;
  width: 563px;
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.discover_p {
  width: 418px;
  margin-left: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 136px;
}

.photo_span {
  font-style: italic;
  font-weight: 400;
  color: #bea69e;
}

.happy_cont {
  display: flex;
  height: 56px;
  margin-bottom: 50px;
  width: 390px;
  margin-left: 50px;
}

.happy-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 137px;
  padding-left: 0px;
}

.happy-item {
  position: relative;
}

.happy-item img {
  border-radius: 100px;
  border: 3px solid transparent;
}

.happy-item:nth-child(1) {
  top: -16px;
  left: 0;
  z-index: 3;
}

.happy-item:nth-child(2) {
  top: -16px;
  left: -20px;
  z-index: 2;
}

.happy-item:nth-child(3) {
  top: -16px;
  left: -40px;
  z-index: 1;
}

.student_text {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.students_p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.04em;
  color: #fff;
  width: 82px;
  margin-top: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.icon-arrowone {
  padding: 0;
}

.star_rew {
  display: flex;
}
.star_back {
  width: 50px;
  height: 50px;
  background-color: #bea69e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.rew_div {
  display: flex;
  flex-direction: column;
}
.rew_p {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.04em;
  color: rgba(255, 255, 255, 0.5);
}
.rew_numb {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.04em;
  color: #fff;
}

.hero_section {
  display: flex;
  flex-direction: row;
}

.cameramen_cont {
  margin-top: 80px;
}

/* HERO-SECTİON BİTTİ */

/* MASTER-SECTİON BAŞLADI */
#master-section {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
}
.master {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 59px;
  line-height: 1.08;
  letter-spacing: 0.05em;
  color: rgba(190, 166, 158, 1);
}
.master-span {
  color: #fff;
}
/* MASTER-SECTİON BİTTİ */

/* ABOUT-SECTİON BAŞLADI */
#about-section {
  background-color: #121212;
  font-family: "DM Sans", sans-serif;
  color: rgba(255, 255, 255, 1);
}
.about-span {
  color: rgba(190, 166, 158, 1);
}
.about-us-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  margin-top: 0;
}
.about-us-container {
  margin: 0 auto;
  max-width: 1240px;
  padding-top: 150px;
}
.about-us-kamera {
  display: flex;
  align-items: center;
  gap: 50px;
}
.kamera-paragraf {
  display: flex;
  align-items: center;
  gap: 40px;
}
.kamera-img {
  width: 560px;
  height: 240px;
  border-radius: 1000px;
  object-fit: cover;
}
.paragraf-our-photo {
  font-size: 16px;
  width: 314px;
  height: 220px;
}
.paragraf-our-courses {
  font-size: 16px;
  width: 276px;
  height: 215px;
}

/* ABOUT-SECTİON BİTTİ */

/* OUR-COURSES-SECTİON BAŞLADI */

.courses-section {
  background-color: #121212; /* Koyu arka plan rengi */
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
}
.courses-container {
  padding-top: 150px;
}

.courses-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 410px;
}

.courses-head {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.12em;
  letter-spacing: -0.04em;
  text-align: start;
}

.courses-span {
  color: #c3a18a;
}

.courses-head-text {
  width: 565px;
  height: 60px;
  font-size: 16px;
}

.course-block {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.course-card {
  background: linear-gradient(
    135deg,
    rgba(6, 7, 7, 1),
    rgba(29, 29, 29, 1)
  ); /* Linear gradient */
  width: 400px;
  height: 452px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.course-number-area {
  display: flex;
  flex-direction: row;
  gap: 290px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.course-number {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
}

.course-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(29, 29, 29, 1);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.course-icon:hover {
  background-color: #c3a18a;
  cursor: pointer;
}

.course-card-title {
  font-size: 28px;
  width: 265px;
  margin-bottom: 200px;
  margin-left: 32px;
}

.course-card-text {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 32px;
  width: 336px;
  margin-bottom: 32px;
}

/* OUR-COURSES-SECTİON BİTTİ */

/* OUR-MENTORS-SECTİON BAŞLADI */
/* Mentorlar bölümü arka plan ve genel stil ayarları */
#mentors {
  background-color: #121212; /* Koyu arka plan rengi */
  color: #ffffff; /* Beyaz metin rengi */
  text-align: center;
  padding-top: 150px;
}
/* İçeriği merkeze almak için kullanılan kapsayıcı */
.mentors-container {
  max-width: 1440px;
  margin: auto;
}
/* Başlık stili */
.mentor-head {
  font-size: 48px;
  margin-top: 0;
  text-align: left;
  font-weight: 500;
  max-width: 1240px;
  margin: 0 auto;
  margin-bottom: 50px;
}
/* Vurgulanan kelimenin rengi */
.mentors-highlight {
  color: #c3a18a;
}
/* Mentor kartlarını yatay hizalamak için kullanılan flex container */
.mentors {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap; /* Küçük ekranlarda uyumlu olması için */
}
/* Her bir mentor kartı */
.mentor {
  text-align: center;
}
/* Mentor fotoğrafları */
.mentor img {
  width: 180px;
  height: 180px;
  border-radius: 50%; /* Daire şeklinde görüntüleme */
  object-fit: cover;
}
/* Mentor isimleri */
.mentor h3 {
  margin-top: 10px;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 4px;
}
/* Mentor deneyim bilgileri */
.mentor p {
  font-size: 14px;
  color: #aaa;
  font-weight: 400;
}
/* OUR-MENTORS-SECTİON BİTTİ */

/* SIGN-UP-SECTİON BAŞLADI */
.sign_up {
  background-color: #121212;
  color: #ffffff;
  padding-top: 150px;
  font-family: "DM Sans", sans-serif;
}
.sign_up_container {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  gap: 200px;
}
.sign-up-div {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 140;
}
.sign-up-tittle {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.12em;
  letter-spacing: -0.04em;
  margin: 0;
}
.sign-up-title2 {
  color: #bea69e;
  font-weight: 500;
}
.sign_up_desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: -0.02em;
  margin-top: 20px;
  margin-bottom: 40px;
}
.modal_form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.input-prop {
  max-width: 480px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 60px;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.input-group .input-prop:focus-within {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.input-group .input-prop input {
  color: #fff;
  width: 100%;
  background-color: #121212;
  border: none;
  outline: none;
  padding-left: 18px;
}
.input-group .message {
  color: #fff;
  width: 100%;
  background-color: #121212;
  border: none;
  outline: none;
  resize: none;
  height: 120px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 14px;
  padding: 18px;
  max-width: 480px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  display: flex;
  align-items: center;
}
.input-group .message:focus-within {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.send-button {
  margin-top: 40px;
  width: 479px;
  height: 60px;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55em;
  color: rgba(18, 18, 18, 1);
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
.send-button-area:hover {
  background-color: #121212;
}
.send-button-area:hover .send-button {
  background-color: #121212;
  color: #bea69e;
  border: 1px solid #1d1d1d;
}

.privacy-policy {
  margin-top: 20px;
}
.privacy-policy,
.privacy-policy-link {
  color: rgba(255, 255, 255, 0.5);
}
.alt-metin {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28em;
  color: rgba(255, 255, 255, 0.5);
  gap: 12;
}

.camera-group {
  display: flex;
  gap: 20px;
}
.camera-lens {
  margin-top: 252px;
}
.camera-lens {
  background-color: rgba(190, 166, 158, 1);
  width: 190px;
  height: 288px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.camera-lens img {
  width: 163px;
  height: 154px;
  transform: translate(-14%, 10%);
}
.camera-2-back {
  width: 350px;
  height: 540px;
  background-color: rgba(29, 29, 29, 1);
  border-radius: 1000px;
}
.camera-2-back img {
  width: 254px;
  height: 313px;
  margin-top: 139px;
  margin-bottom: 126px;
  transform: translate(24%);
}

/* SIGN-UP-SECTİON BİTTİ */

/* REVİEWS-SECTİON BAŞLADI */

/* REVİEWS-SECTİON BAŞLADI */

.reviews-section {
  background-color: #121212; /* Koyu arka plan rengi */
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  padding-top: 150px;
  padding-bottom: 150px;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1240px;
  
}

.reviews-header {
  max-width: 1240px;
}

.reviews-head {
  font-size: 48px;
  text-align: start;
  font-weight: 500;
  line-height: 1.12em;
  letter-spacing: -0.04em;
}

.reviews-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1280px;
}

.reviews-block,
.reviews-block-two {
  border: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 610px;
  border-radius: 12px;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1240px;
}

.reviews-header {
  max-width: 1240px;
}

.reviews-head {
  font-size: 48px;
  text-align: start;
  font-weight: 500;
  line-height: 1.12em;
  letter-spacing: -0.04em;
}

.reviews-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1280px;
}

.reviews-block,
.reviews-block-two {
  border: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 610px;
  border-radius: 12px;
}

.reviews-infostar {
  display: flex;
  align-items: center;
  gap: 230px;
}

.reviews-info {
  display: flex;
  margin: 20px;
  align-items: center;
}

.reviews-image {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.reviews-info-plus {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 8px;
}
.review-personne-name {
  font-size: 20px;
  margin: 0;
}

.review-personne-status {
  font-size: 14px;
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
}

.reviews-text {
  margin: 20px;
}

.review-stars {
  display: flex;
  gap: 4px;
}

.review-stars-two {
  display: flex;
  gap: 4px;
}

.review-stars-two {
  display: flex;
  gap: 4px;
}

.icon-herostar use {
  fill: #bea69e;
}
/* REVİEWS-SECTİON BİTTİ */

/* FOOTER-SECTİON BAŞLADI */
.footer-section {
  background-color: #121212;
  background-image: url(../images/grid_back.png);
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 190px;
  margin: 0 auto;
  max-width: 1240px;
  margin-top: 50px;
}
.footer-sol-blok {
  display: flex;
  flex-direction: column;
}
.footer-logo-link {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
.footer-adress-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-tel-number-link {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.28em;
  font-family: "DM Sans", sans-serif;
}

.footer-adress-city {
  font-size: 14px;
  line-height: 1.28em;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
}
.footer-adress-list {
  list-style-type: none;
}
.footer-orta-blok {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  
}
.footer-social-media-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.orta-blok-links {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
}
.footer-nav {
  margin: 0;
}
.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 0;
  font-size: 14px;

}

.footer-en-alt-blok {
  display: flex;
}

.footer-input {
  display: flex;
  gap: 16px;
}
.footer-input-email {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  width: 216px;
  height: 60px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  outline: none;
  padding-left: 18px;
}
.footer-input-email:focus-within {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  width: 216px;
  height: 60px;
}
.footer-go-button {
  width: 60px;
  height: 60px;
  background-color: rgba(29, 29, 29, 1);
  border: 1px solid rgba(29, 29, 29, 1);
  border-radius: 12px;
  color: #fff;
  font-family: "DM Sans", sans-serif;
}
.footer-go-button:hover {
  background-color: #121212;
  color: #bea69e;
  border: 1px solid #1d1d1d;
}
.footer-privacy-public {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  line-height: 1.28em;

}
.footer-en-alt-blok {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
  padding-bottom: 25px;
}
.focus-frame-prag {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

/* FOOTER-SECTİON BİTTİ */

@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    /* HEADER BAŞLADI */

    .header_nav {
      display: none;
    }
    .nav_container {
      margin: 20px 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .logo-link {
      padding: 20px 17px;
      padding-right: 0px;
      margin: unset;
      font-size: 16px;
    }
    .sign_button {
      display: none;
    }

    .cam_menu {
      width: 80px;
      display: flex;
      margin-right: 20px;
    }

    .camera_ic {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #1d1d1d;
    }
    .hamburger-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      width: 32px;
      height: 22px;
      margin-left: 14px;
      margin-top: 8px;
    }

    .hamburger-menu span {
      display: block;
      height: 2px;
      background-color: #fff;
      border-radius: 2px;
    }

    .long {
      width: 30px;
      margin-left: auto;
    }

    .short {
      width: 20px;
      margin-left: auto;
    }

    /* HEADER BİTTİ */

    /* HERO-SECTİON BAŞLADI */

    .hero_section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #1d1d1d;
      margin-left: auto;
      margin-right: auto;
      max-width: 320px;
      height: 750px;
    }
    .hero_container {
      padding-bottom: 80px;
    }
    .cameramen_cont {
      margin: unset;
    }
    .discover_cont {
      margin: unset;
      padding-top: 40px;
    }
    .discover_title {
      width: 260px;
      margin-left: 20px;
      margin-right: 20px;
      font-weight: 500;
      font-size: 40px;
      line-height: 1.1;
      letter-spacing: -0.04em;
      color: #fff;
    }
    .discover_p {
      margin: unset;
      width: 260px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
      font-size: 14px;
      margin-bottom: 40px;
    }

    .happy_cont {
      margin-left: 20px;
      margin-right: 40px;
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
    }
    .star_rew {
      width: 100%;
    }
    .cameramen_cont {
      display: flex;
      align-items: flex-end;
      margin-left: 40px;
    }
    .cameramen_cont img {
      width: 194px;
      height: 236px;
    }

    .mobile_window {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background-color: rgba(35, 35, 36, 0.4);
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
      display: flex;
      justify-content: flex-end;
    }
    /* -------Menu açıp kapatmak için--------*/
    .is-close {
      display: none;
    }
    /* -------Menu açıp kapatmak için--------*/
    .mobile_menu {
      width: 200px;
      position: fixed;
      margin-left: auto;
      height: 100vh;
      background-color: #bea69e;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .exit_div {
      display: flex;
      justify-content: flex-end;
    }
    .close-btn {
      display: inline-block;
      width: 20px;
      height: 20px;
      position: relative;
      cursor: pointer;
      margin-top: 15px;
      margin-right: 20px;
    }

    .close-btn::before,
    .close-btn::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: black;
      border-radius: 3px;
    }

    .close-btn::before {
      transform: rotate(45deg);
    }

    .close-btn::after {
      transform: rotate(-45deg);
    }

    .mobile-nav-list {
      list-style-type: none;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-left: 20px;
    }
    .mobile-nav-item-link {
      text-decoration: none;
      color: #121212;
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      color: #121212;
      font-family: "DM Sans", sans-serif;
    }
    .mobile-nav-item-link:hover {
      font-weight: 700;
    }
    .mobile_menu_img {
      object-fit: cover;
    }
    .mobile_menu_img img {
      display: block;
      width: 100%;
      height: 100%;
    }
  

  .close-btn::before,
  .close-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 3px;
  }

  .close-btn::before {
    transform: rotate(45deg);
  }
        

    .close-btn::before,
    .close-btn::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: black;
      border-radius: 3px;

    }

    .close-btn::before {
      transform: rotate(45deg);
    }

    .close-btn::after {
      transform: rotate(-45deg);
    }

    .mobile-nav-list {
      list-style-type: none;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-left: 20px;
    }
    .mobile-nav-item-link {
      text-decoration: none;
      color: #121212;
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      color: #121212;
      font-family: "DM Sans", sans-serif;
    }
    .mobile-nav-item-link:hover {
      font-weight: 700;
    }
    .mobile_menu_img {
      object-fit: cover;
    }
    .mobile_menu_img img {
      display: block;
      width: 100%;
      height: 100%;
    }

  .close-btn::after {
    transform: rotate(-45deg);
  }

  .mobile-nav-list {
    list-style-type: none;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
  }
  .mobile-nav-item-link {
    text-decoration: none;
    color: #121212;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #121212;
    font-family: "DM Sans", sans-serif;
  }
  .mobile-nav-item-link:hover {
    font-weight: 700;
  }
  .mobile_menu_img {
    object-fit: cover;
  }
  .mobile_menu_img img {
    display: block;
    width: 100%;
    height: 100%;
  }

  /* HERO-SECTİON BİTTİ */

  /* MASTER-SECTİON BAŞLADI */
  .skill-mobile-span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .master {
    font-size: 24px;
    max-width: 335px;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }

  /* MASTER-SECTİON BİTTİ */

  /* ABOUT-SECTİON BAŞLADI */
  .kamera-img {
    max-width: 320px;
    height: 209px;
    overflow: hidden;
  }
  .about-us-title {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.04em;
  }

  .about-us-kamera {
    flex-direction: column;
    gap: 40px;
  }
  .about-us-container {
    max-width: 335px;
    padding-top: 80px;
  }

  .kamera-paragraf {
    flex: 1 1 100%;
    font-size: 14px;
    letter-spacing: -0.02em;
    line-height: 1.285;
    width: calc(100% - 20px);
    gap: 20px;
    flex-wrap: wrap;
  }

  /* ABOUT-SECTİON BİTTİ */

  /* OUR-COURSES-SECTİON BAŞLADI */

  .courses-container {
    
    padding-top: 80px;
    max-width: 335px;
    margin: 0 auto;
  }

  .courses-header {
    gap: 20px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 335px;
    height: 124px;
    gap: 0px;
    max-width: 335px;
  }

  .courses-head {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14em;
    letter-spacing: -0.04em;
    margin-left: 0;
    margin: 0;
  }

  .course-block {
    flex-direction: column;
    max-width: 335px;
    margin: 0 auto;
  }
  .course-card {
    max-width: 320px;
    height: 398px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    margin-top: 40px;
  }

  .courses-head-text {
    max-width: 335px;
    height: 72px;
    font-size: 14px;
  }

  .course-number-area {
    gap: 229px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .course-card-title {
    font-size: 28px;
    width: 279px;
    margin-bottom: 160px;
    margin-left: 28px;
  }

  .course-card-text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 28px;
    width: 279px;
    margin-top: 0;
    margin-left: 27px;
  }


  /* OUR-COURSES-SECTİON BİTTİ */

  /* OUR-MENTORS-SECTİON BAŞLADI */

  /* OUR-MENTORS-SECTİON BİTTİ */

    /* OUR-MENTORS-SECTİON BAŞLADI */
    .mentors-container{
      max-width: 335px;

    }
    .mentor-head{
      font-size: 28px;
      line-height: 1.14em
    }
    .mentor h3{
      font-size: 20px;
      line-height: 1.2em;

    }
    .mentor p{
      font-size: 12px;
      line-height: 1.3em;
    }
    /* OUR-MENTORS-SECTİON BİTTİ */

    /* SIGN-UP-SECTİON BAŞLADI */
    .sign_up {
      padding-top: 80px;
    }
    .sign_up_container {
      display: flex;
      max-width: 335px;
      margin: 0 auto;
    }
    .sign-up-tittle {
      font-size: 28px;
      line-height: 1.14em;
    }
    .sign_up_desc {
      font-size: 14px;
      line-height: 1.28em;
      max-width: 295px;
    }  
    .input-group {
      gap: 8px;
    }
    .input-prop {
      max-width: 320px;
      height: 46px;
    }
    .input-group .message {
      max-width: 320px;
      height: 112px;
    }
    .send-button {
      
      max-width: 320px;
      height: 48px;
      font-size: 16px;
      line-height: 1.25em;
    }
   
    .alt-metin {
      font-size: 12px;
      line-height: 1.33em;
    }
    .camera-group {
      display: none;
    }


  /* SIGN-UP-SECTİON BAŞLADI */

  /* SIGN-UP-SECTİON BİTTİ */

  /* REVİEWS-SECTİON BAŞLADI */

  .reviews-header {
    max-width: 335px;
  }
  .reviews-block-two {
    display: none;
  }

  .reviews-section {
    background-color: #121212; /* Koyu arka plan rengi */
    color: #ffffff;
    font-family: "DM Sans", sans-serif;
    padding-top: 80px;
    padding-bottom: 150px;
  }

  .reviews-container {
    max-width: 334px;
    height: 316px;
    margin: 0 auto;
  }

  .reviews-head {
    font-size: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
  }

  .reviews-block {
    border: 1px solid rgba(255, 255, 255, 0.2);
    max-width: 335px;
    height: 244px;
    border-radius: 12px;
  }

  .reviews-infostar {
    flex-wrap: wrap;
    gap: 0;
    margin-left: 20px;
    margin-top: 20px;
  }

  .reviews-info {
    margin: 4px;
  }

  .reviews-info-plus {
    margin-left: 10px;
    width: 280px;
  }
  .review-personne-name {
    font-size: 20px;
    margin: 0;
  }

  .review-personne-status {
    font-size: 12px;
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
  }

  .reviews-text {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
  }

  .review-stars {
    margin-left: 65px;
  }

  .icon-herostar use {
    fill: #bea69e;
  }

  /* REVİEWS-SECTİON BİTTİ */

  
    /* FOOTER-SECTİON BAŞLADI */

    .footer-container {
      flex-direction: column;
      max-width: 335px;
      gap: 40px;

    }
    .footer-orta-blok {
      max-width: 214px;
       gap: 40px;

    }
    .footer-social-media-links {
      gap: 14px;
      line-height: 1.30em;

    }
    .nav-list {
      gap: 14px;
      line-height: 1.30em;
      padding-left: 0;

    }
    .footer-input-email {
      width: 267px;

    }
    .footer-input-email:focus-within {
      width: 267px;
    }
    .footer-privacy-public {
      font-size: 12px;
      line-height: 1.33em;
    }
    .footer-en-alt-blok {
      max-width: 335px;
      gap: 72px;
      padding-bottom: 20px;
      padding-top: 40px;


    }
    .focus-frame-prag {
      font-size: 12px;
      line-height: 1.33em;
    }
    
    /* FOOTER-SECTİON BİTTİ */
  }

}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  body {
    /* HEADER BAŞLADI */

    .header_nav {
      display: none;
    }

    .camera_ic {
      display: none;
    }
    .nav_container {
      margin: 20px 14px 40px 32px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .logo-link {
      padding: 20px 17px;
      padding-right: 0px;
      margin: unset;
      font-size: 16px;
    }

    .hamburger-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      width: 32px;
      height: 22px;
      margin-left: 14px;
      margin-top: 8px;
    }
    .hamburger-menu span {
      display: block;
      height: 2px;
      background-color: #fff;
      border-radius: 2px;
    }

    .long {
      width: 30px;
      margin-left: auto;
    }

    .short {
      width: 20px;
      margin-left: auto;
    }
    .sign_button {
      font-weight: 700;
      font-size: 18px;
      line-height: 1.5556;
      text-transform: uppercase;
      color: #121212;
      width: 187px;
      height: 60px;
      background: #fff;
      border-radius: 12px;
      margin-right: 31px;
      padding: 16px 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 0px;
      flex-shrink: 0;
    }

    .sign_button:hover {
      background-color: #121212;
      color: #bea69e;
      border: 1px solid #1d1d1d;
    }

    .sign_a {
      font-family: "DM Sans", sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 1.55556;
      text-transform: uppercase;
      color: #121212;
      background: #fff;
      text-decoration: none;
      display: flex;
      flex-wrap: nowrap;
    }

    .sign_button:hover .sign_a {
      background-color: #121212;
      color: #bea69e;
    }

    .mobile_window {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background-color: rgba(35, 35, 36, 0.4);
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
      display: flex;
      justify-content: flex-end;
    }

    .is-close {
      display: none;
    }
    .mobile_menu {
      width: 480px;
      position: fixed;
      margin-left: auto;
      height: 100vh;
      background-color: #bea69e;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .exit_div {
      display: flex;
      justify-content: flex-end;
    }

    .close-btn {
      display: inline-block;
      width: 40px;
      height: 40px;
      position: relative;
      cursor: pointer;
      margin-top: 20px;
      margin-right: 32px;
    }

    .close-btn::before,
    .close-btn::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: black;
      border-radius: 3px;
    }

    .close-btn::before {
      transform: rotate(45deg);
    }

    .close-btn::after {
      transform: rotate(-45deg);
    }

    .mobile-nav-list {
      list-style-type: none;
      margin-top: 185px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-left: 64px;
    }

    .mobile-nav-item-link {
      text-decoration: none;
      color: #121212;
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      color: #121212;
      font-family: "DM Sans", sans-serif;
    }

    .mobile-nav-item-link:hover {
      font-weight: 700;
    }

    .mobile_menu_img {
      object-fit: cover;
    }

    .mobile_menu_img img {
      display: block;
      width: 100%;
      height: 100%;
    }

    /* HEADER BİTTİ */

    /* HERO-SECTİON BAŞLADI */
    .hero_section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #1d1d1d;
      margin-left: auto;
      margin-right: auto;
      max-width: 700px;
      height: auto;
    }
    .hero_container {
      padding-bottom: 80px;
    }

    .cameramen_cont {
      margin: unset;
    }

    .discover_cont {
      margin: unset;
      padding-top: 40px;
    }

    .discover_title {
      width: 480px;
      height: 192px;
      margin-left: 32px;
      margin-top: 24px;
      font-weight: 500;
      font-size: 60px;
      line-height: 1.1;
      letter-spacing: -0.02em;
      color: #fff;
    }

    .discover_p {
      margin: unset;
      font-size: 14px;
      width: 418px;
      margin-left: 32px;
      margin-right: 20px;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    .happy_cont {
      margin-left: 20px;
      margin-right: 40px;
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
      margin-bottom: 40px;
    }

    .cameramen_cont {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 156px;
      width: 393px;
      height: 434px;
    }

    .cameramen_cont img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 10%;
    }

    /* HERO-SECTİON BİTTİ */

    /* MASTER-SECTİON BAŞLADI */

    .skill-mobile-span {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .master {
      font-size: 40px;
      max-width: 704px;
      line-height: 1.25;
      letter-spacing: -0.02em;
    }

    /* MASTER-SECTİON BİTTİ */

    /* ABOUT-SECTİON BAŞLADI */
    .kamera-img {
      width: 704px;
      height: 340px;
      overflow: hidden;
    }

    .about-us-kamera {
      flex-direction: column;
      gap: 50px;
      align-items: flex-start;
    }
    .about-us-container {
      max-width: 704px;
      padding-top: 80px;
    }

    .kamera-paragraf {
      font-size: 16px;
      letter-spacing: -0.02em;
      line-height: 1.25;
      gap: 40px;
      max-width: 600px;
    }

    /* ABOUT-SECTİON BİTTİ */

  

    /* OUR-COURSES-SECTİON BAŞLADI */

  

    .courses-container {
      height: 1054px;
      padding-top: 100px;
      max-width: 704px;
      margin: 0 auto;
      padding-bottom: 100px;
      
    }

    .courses-header {
      gap: 58px;
      max-width: 704px;
      height: 80px;
      gap: 0px;
      justify-content: space-between;
    }

    .courses-head {
      font-size: 48px;
      font-weight: 500;
      line-height: 1.125em;
      letter-spacing: -0.04em;
      margin-left: 0;
      margin: 0;
    }

    .course-block {
      flex-wrap: wrap;
      max-width: 704px;
      height: 924px;
      justify-content: flex-start;
      margin: 0 auto;
      margin-top: 50px;
    }
    .course-card {
      width: 342px;
      height: 450px;
      line-height: 1.28;
      letter-spacing: -0.02em;
    
    }

    .courses-head-text {
      width: 381px;
      height: 80x;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: -0.02em;
    }

    .course-number-area {
      gap: 229px;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }

    .course-card-title {
      font-size: 28px;
      max-width: 261px;
      height: 64px;
      margin-bottom: 180px;
      margin-left: 28px;
      line-height: 1.14;
      font-weight: 500;
    }

    .course-card-text {
      font-size: 16px;
      max-width: 278px;
      margin-top: 0;
      margin-left: 27px;
      font-weight: 400;
      letter-spacing: -0.02em;
      line-height: 20px;
    }

    /* OUR-COURSES-SECTİON BİTTİ */

    /* OUR-MENTORS-SECTİON BAŞLADI */
    .mentors-container{
      max-width: 704px;
      
    }
    .mentor-head{
      padding-left: 32px;
    }

    
    /* OUR-MENTORS-SECTİON BİTTİ */

    /* SIGN-UP-SECTİON BAŞLADI */
    .sign_up_container {
      padding-left: 32px;
      max-width: 704px;
    }
    .camera-group {
      display: none;
    }
    /* SIGN-UP-SECTİON BİTTİ */

    /* REVİEWS-SECTİON BAŞLADI */

    .reviews-header {
      max-width: 704px;
    }
    .reviews-block-two {
      display: none;
    }

    .reviews-section {
      background-color: #121212; /* Koyu arka plan rengi */
      color: #ffffff;
      font-family: "DM Sans", sans-serif;
      padding-top: 100px;
    }

    .reviews-container {
      max-width: 704px;
      height: 300px;
      margin: 0 auto;
      padding-bottom: 150px;
    }

    .reviews-head {
      font-size: 32px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: -0.04em;
      font-size: 48px;
      line-height: 54px;
    }

    .reviews-block {
      border: 1px solid rgba(255, 255, 255, 0.2);
      max-width: 640px;
      height: 195px;
      border-radius: 12px;
    }

    .reviews-infostar {
    gap: 0;
      margin-left: 20px;
      margin-top: 20px;
      align-items: start;
    }

    .reviews-info {
      margin: 4px;
    }

    .reviews-info-plus {
      width: 211px;
    }
    .review-personne-name {
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      margin: 0;
    }

    .review-personne-status {
      font-size: 12px;
      margin: 0;
      color: rgba(255, 255, 255, 0.5);
    }

    .reviews-text {

      font-size: 16px;
      font-weight: 400;
      letter-spacing: -0.02em;
      text-align: left;
      line-height: 1.28;
      margin-bottom: 20px;
    }

    .review-stars {
      margin-left: 200px;
      padding-top: 0;
    }


    .icon-herostar use {
      fill: #bea69e;
    }

    /* REVİEWS-SECTİON BİTTİ */

    /* FOOTER-SECTİON BAŞLADI */
    .footer-container {
      
      max-width: 704px;
      gap: 48px;

    }
    .footer-sol-blok {
      gap: 25px;
    }
    .footer-logo{
      font-size: 16px;
    }
    
    .footer-adress-list {
      width: 152px;
      margin: 0;
    }
    
    .footer-orta-blok {
      gap: 25px;
    }
    .orta-blok-links {
    line-height: 1.28em;
    font-size: 14px;
    }
    .footer-social-media-links {
      gap: 14px;
    }
    .nav-list {
      padding: 0;
      gap: 14px;
      margin: 0;
    }
    .footer-input-email {
      width: 178px;
    }
    .footer-input {
      gap: 8px;
    }
    .footer-en-alt-blok {
      max-width: 704px;
      padding-top: 74px;

    }


    /* FOOTER-SECTİON BİTTİ */
  }
}

@media screen and (min-width: 1280px) {
  body {
    /* HEADER BAŞLADI */
    .cam_menu {
      display: none;
    }

    .mobile_window {
      display: none;
    }

    /* HEADER BİTTİ */

    /* HERO-SECTİON BAŞLADI */

    /* HERO-SECTİON BİTTİ */

    /* MASTER-SECTİON BAŞLADI */

    /* MASTER-SECTİON BİTTİ */

    /* ABOUT-SECTİON BAŞLADI */

    /* ABOUT-SECTİON BİTTİ */

    /* OUR-COURSES-SECTİON BAŞLADI */

    /* OUR-COURSES-SECTİON BİTTİ */

    /* OUR-MENTORS-SECTİON BAŞLADI */

    /* OUR-MENTORS-SECTİON BİTTİ */

    /* SIGN-UP-SECTİON BAŞLADI */

    /* SIGN-UP-SECTİON BİTTİ */

    /* REVİEWS-SECTİON BAŞLADI */

    /* REVİEWS-SECTİON BİTTİ */

    /* FOOTER-SECTİON BAŞLADI */

    /* FOOTER-SECTİON BİTTİ */
  }
}
